.container {
    width: 100%;
    background: #fff;
    padding: 20px;
    font-size: 14px;
    border-left:1.5px solid rgb(233, 230, 230) ;
  }
  
  h3 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
    border-radius: 15px;
  }
  
  mat-icon {
    color: #555;
  }
  
  img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  small {
    color: #888;
  }

  li:hover{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    background-color: #ecebeb;
    gap: 15px;
  }