<div class="navbar">
    <div class="breadcrumbs">
      <span class="material-icons">star_outline</span>
      <span class="breadcrumb-item">Dashboards</span>
      <span class="breadcrumb-separator">/</span>
      <span class="breadcrumb-current">Default</span>
    </div>
    <div class="navbar-actions">
      <div class="search-box">
        <span class="material-icons">search</span>
        <input type="text" placeholder="Search" />
      </div>
      <span class="material-icons">history</span>
      <span class="material-icons">notifications_none</span>
      <span class="material-icons toggle-icon" (click)="toggleNavbar()">view_sidebar</span>
    </div>
</div>
  