<div class="sidebar">
    <div class="profile">
        <span class="material-icons">account_circle</span>
        <h4>ByeWind</h4>
    </div>
    <div *ngFor="let menu of menus" class="menu-section">
      <h5>{{ menu.section }}</h5>
      <ul>
        <li
          *ngFor="let item of menu.items"
          [class.active]="item.selected"
          (click)="onMenuClick(item)"
        >
          <span class="material-icons" [ngClass]="{'small-icon': item.icon == 'fiber_manual_record'}">{{ item.icon }}</span>
          <span class="menu-name">{{ item.name }}</span>
        </li>
      </ul>
    </div>
</div>
  